/.vscode
/GetDemo
/Laboopdracht1
/Laboopdracht1.zip
/Laboopdracht2
/Laboopdracht2.zip
/Theorieopdacht1.3
/Theorieopdracht1.1
/Theorieopdracht1.2
/Theorieopdracht1.zip
/Theorieopdracht10
/Theorieopdracht10.zip
/Theorieopdracht2
/Theorieopdracht2.zip
/Theorieopdracht3
/Theorieopdracht3.zip
/Theorieopdracht4
/Theorieopdracht4.zip
/Theorieopdracht5
/Theorieopdracht5.zip
/Theorieopdracht6
/Theorieopdracht6.zip
/Theorieopdracht7
/Theorieopdracht7.zip
/Theorieopdracht8
/Theorieopdracht8.zip
/Theorieopdracht9
/Theorieopdracht9.zip